In [1]:
#Chatbot session:
#https://chatgpt.com/share/6c258ebb-87d9-4ed1-8a97-0194a06c71dc

In [2]:
#A

In [3]:
import pandas as pd#This line is added later

In [4]:
url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv"
df = pd.read_csv(url)
#NameError: name 'pd' is not defined

In [5]:
#In this case, both googling and asking Chatbot work, but Chatbot is faster, and provide me code.
#import pandas as pd

In [6]:
'________________________________________________________________________'

'________________________________________________________________________'

In [7]:
#B

In [8]:
url = "titanics.csv"
url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv"#This line is added later
df = pd.read_csv(url)
#FileNotFoundError: [Errno 2] No such file or directory: 'titanics.csv'

In [9]:
#In this case, both google and Chatgpt give me multiable possible reasons and one of them is correct answer
#But again, Chatbot is faster

In [10]:
#C

In [11]:
#DF.groupby("col1")["col2"].describe()
df.groupby("alive")["fare"].describe()#This line is fixed later
#NameError: name 'DF' is not defined

       count       mean        std  min      25%   50%   75%       max
alive
no     549.0  22.117887  31.388207  0.0   7.8542  10.5  26.0  263.0000
yes    342.0  48.395408  66.596998  0.0  12.4750  26.0  57.0  512.3292

In [12]:
#In this case, Chatgpt finds the problem immediately that I use uppercase <DF> immediately and advice me to use lowercase <df>
#However, because a searching engine does not differentiate uppercase&lowercase, I cannot find an answer.

In [13]:
'________________________________________________________________________'

'________________________________________________________________________'

In [14]:
#D

In [15]:
#df = pd.read_csv(url
df = pd.read_csv(url)#This line is fixed later.
#SyntaxError: incomplete input

In [16]:
#In this case, we can get the answer from both google and Chatgpt but Chatgpt is more clearly and faster and I can just copypaste the code.

In [17]:
'________________________________________________________________________'

'________________________________________________________________________'

In [18]:
#E

In [19]:
#df.groupby("alive")["fare"].describle()
df.groupby("alive")["fare"].describe()#This line is fixed later.
#AttributeError: 'SeriesGroupBy' object has no attribute 'describle'

       count       mean        std  min      25%   50%   75%       max
alive
no     549.0  22.117887  31.388207  0.0   7.8542  10.5  26.0  263.0000
yes    342.0  48.395408  66.596998  0.0  12.4750  26.0  57.0  512.3292

In [20]:
#In the case of typo, Chatbot can immediately find and fix it. But by googling, I cannot even find a result!

In [21]:
'________________________________________________________________________'

'________________________________________________________________________'

In [22]:
#F

In [23]:
#df.groupby("Sex")["age"].describe()
#df.groupby("sex")["Age"].describe()
df.groupby("sex")["age"].describe()#This line is fixed later.
#KeyError: 'Sex'
#KeyError: 'Column not found: Age'

        count       mean        std   min   25%   50%   75%   max
sex
female  261.0  27.915709  14.110146  0.75  18.0  27.0  37.0  63.0
male    453.0  30.726645  14.678201  0.42  21.0  29.0  39.0  80.0

In [24]:
#In this case, similarly, both google and Chatgpt works but Chatgpt is faster. 
#I must browse one by one in google to find an answer but Chatgpt can give me answer at once.

In [25]:
'________________________________________________________________________'

'________________________________________________________________________'

In [26]:
#G

In [27]:
#df.groupby(sex)["age"].describe()
#df.groupby("sex")[age].describe()
df.groupby("sex")["age"].describe()
#NameError: name 'sex' is not defined
#NameError: name 'age' is not defined

        count       mean        std   min   25%   50%   75%   max
sex
female  261.0  27.915709  14.110146  0.75  18.0  27.0  37.0  63.0
male    453.0  30.726645  14.678201  0.42  21.0  29.0  39.0  80.0

In [28]:
#In this case, Chatgpt also works better. I spend a long time on google till I find a solution.

In [29]:
'________________________________________________________________________'

'________________________________________________________________________'

In [30]:
'''In summary:
Chatgpt shows better ability and faster speed to sovle errors in my code than google
I think there are some reasons:

1.My prompt engineering works
2.My questions are all focus on errors in <pandas>
3.On google, problems are questioned and answered by other people, their Q&As are usually much more complexed.

So, Chatbots are better than google when solving simple questions'''

'In summary:\nChatgpt shows better ability and faster speed to sovle errors in my code than google\nI think there are some reasons:\n\n1.My prompt engineering works\n2.My questions are all focus on errors in <pandas>\n3.On google, problems are questioned and answered by other people, their Q&As are usually much more complexed.\n\nSo, Chatbots are better than google when solving simple questions'